<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd" 
	xmlns:context="http://www.springframework.org/schema/context">
	
	<bean id="Car" class="com.jalizadeh.springweb.model.Car"></bean>
	<bean id="CarDAO" class="com.jalizadeh.springweb.dao.CarDAO"></bean>
	
</beans>